body {background-color: wheat;color:crimson;text-align: center;font-size: 35px;}     
button{background-color: crimson;width: 150px;height:100px;font-style: bold;}
img{width: 200px;height: 200px;margin-bottom: 20px;}
footer{text-align: left;font-size: 20px; margin-top:120px;} 
audio{margin-top: 10px;}

 